.searchbar_container {
  position: relative;
}

.input {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

.autocomplete {
  background-color: lightgrey;
  border: 1px solid black;
  font-family: sans-serif;
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.autocomplete_option {
  background-color: #bbb;
  padding: 4px;
  color: 'red';
  cursor: pointer;
  margin-bottom: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
